.nav-tabs-custom>.nav-tabs>li {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    text-align: center;
}

.tab_wrapper>ul li a {
    color: black;
    font-weight: 300;
}

.tab_wrapper>ul li {
    padding: 8px 10px;
}

.tab_wrapper .content_wrapper {
    border: unset;
}

.tab_wrapper>ul li.active {
    background-color: #d51b81 !important;
    border-color: #d51b81 !important;
}

.tab_wrapper>ul li.active a {
    color: #fff;
}

.d-flow-root {
    display: flow-root !important;
}

.m-1 {
    margin: 1px;
}

.tab_wrapper>ul li {
    width: 12%;
    white-space: nowrap;
    text-align: center;
}

.widget-user-2 .widget-username {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    width: 78%;
}

.widget-user-2 .widget-username span {
    float: right;
}

.widget-user-2 .widget-user-image>img {
    height: 60px;
    width: 60px;
}

.tab_wrapper .box {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 1) !important;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1) !important;
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1) !important;
}

.header-order {
    font-weight: bold;
    font-size: 1rem;
}

.color-light {
    font-weight: 300;
    color: #676e69;
}

.container-box {
    padding: 0px 30px;
}

.color-red {
    font-weight: 300;
    color: red;
}

.container-bottom {
    padding: 10px 0;
}

.btn-order {
    min-width: 30%;
}

.color-light.small-text {
    font-size: 15px;
}