.dropzone {
    width: 100%;
    height: 80px;
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
}

.upload-icon {
    margin: 25px 2px 2px 2px;
}

.upload-input{
    position: relative;
    top: -62px;
    left: 0;
    width: 100%;
    height: 80px;
    opacity: 0;
    cursor: pointer;
}
.image-box{
    position: relative;
    width: 220px;
    float: left;
    height: 180px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

.img-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-cross{
    position: absolute;
    top: -8%;
    right: 6%;
    color: black;
    font-size: 25px;
    border: none;
    font-weight: bolder;
}
