.menu-image {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.menu-edit-icon {
    height: 15px;
    margin-left: 10px;
}

.menu-edit-button {
    padding: 10px;
    width: 80%;
}

.menu-more-button {
    padding: 0 5px!important;
    width: 15%;
    float: right;
    border: 1px solid #0000003d;
}

.menu-descript-more-button {
    padding: 0 5px !important;
    border: 1px solid #0000003d;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.menu-product-info {
    font-size: 15px;
}

.drag-option {
    position: absolute;
    top: 35%;
    height: 20px;
    width: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: move;
    background-image: url('./../img/drag.png');
}

.image-placeholder {
    width: 100%;
    height: 100%;
    background: #F0F0F0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.image-placeholder img {
    height: 40px;
    width: 40px;
    margin-top: 40px;
}

.new-item-buttom {
    color: #d51b81;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2300000062' stroke-width='1' stroke-dasharray='10%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.new-item-buttom:hover {
    background-color: hsl(0deg 0% 0% / 3%) !important;
}

.new-item-buttom a,
.new-item-buttom a:hover {
    color: #d51b81;
}

.new-category-buttom {
    display: block;
    font-size: 2em;
    font-weight: bold;
    background-color: hsl(0deg 0% 0% / 3%);
}

.new-category-buttom:hover {
    color: #d51b81;
    background-color: hsl(0deg 0% 0% / 5%) !important;
}

.close {
    display: contents;
}

.btn-cancle {
    display: contents;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.form-group label {
    font-weight: bold;
    color: #343a40!important;
}

.text-option .form-group,
.text-option .form-group .form {
    margin-bottom: 0 !important;
}

.SumoSelect>.CaptionCont>span {
    cursor: pointer;
}

.SumoSelect {
    width: 100%;
}

.SumoSelect .select-all.partial>span i,
.SumoSelect .select-all.selected>span i,
.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
    background-color: #2196f3;
}

.menu-menus-image {
    height: 18px;
    width: 15px;
    margin-right: 13px;
}

.menu-light-image {
    height: 23px;
    margin-right: 6px;
}

.menu-screen-image {
    height: 15px;
    margin-right: 10px;
}

.iradio_square-blue,
.icheckbox_square-blue {
    margin-right: 10px;
}

.form-group label {
    width: 100%;
}

.price-input-product .input-group-text {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 16px;
    height: 30px;
    padding: 6px;
    border-radius: 0px;
}

.price-input-product input {
    padding-left: 40px !important;
}

.SumoSelect>.CaptionCont {
    height: 32.3px;
    line-height: 1.5;
}

.required label:first-of-type::after {
    content: " *";
    color: red;
}

@media only screen and (min-width: 1200px) {
    .menu-container {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }
}

.new-menu-button {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 200px;
}

.btn-primary {
    background-color: #d51b81 !important;
    border-color: #d51b81 !important;
}

.modal-title {
    font-weight: bold;
}

.btn.focus,
.btn:focus {
    box-shadow: unset !important;
}

.menu-delete-action,
.category-delete-action,
.menu-status-action {
    cursor: pointer;
}