.thumbnail-image {
    height: 290px;
    width: 100%;
}

.thumbnail-paragraph {
    margin-top: 5px;
    color: #B2B2B2;
}

.usd.icon{
    position: absolute;
    top: 55%;
    left: 4px;
}
.usd-parent{
    position: relative;
}