.menu-product-info {
    font-size: 15px;
}

.btn-primary {
    background-color: #d51b81 !important;
    border-color: #d51b81 !important;
}

.add-item-icon {
    color: #d51b81 !important;
    border: 1px solid #d51b81 !important;
}

.tableFixHead {
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableFixHead tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 250px;
}

.tableFixHead thead tr {
    display: block;
}

.tableFixHead th,
.tableFixHead td {
    padding: 5px 10px;
    width: 200px;
}