.icon-holder i {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    top: 20px;
    right: -10px;
    left: 10px;
    bottom: 0px;
}

.menu-home,
.menu-home-disable {
    background-image: url('./../img/grey_home.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-rating,
.menu-rating-disable {
    background-image: url('./../img/grey_rating.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-sales,
.menu-sales-disable {
    background-image: url('./../img/grey_sales.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-live-orders,
.menu-live-orders-disable {
    background-image: url('./../img/grey_live_orders.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-menus,
.menu-menus-disable {
    background-image: url('./../img/grey_menus.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-team,
.menu-team-disable {
    background-image: url('./../img/grey_team.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-invoice,
.menu-invoice-disable {
    background-image: url('./../img/grey_invoice.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-marketer,
.menu-marketer-disable {
    background-image: url('./../img/grey_marketer.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-feedback,
.menu-feedback-disable {
    background-image: url('./../img/grey_feedback.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-user,
.menu-user-disable {
    background-image: url('./../img/grey_user.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-shipping,
.menu-shipping-disable {
    background-image: url('./../img/grey_shipping.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.menu-collection,
.menu-collection-disable {
    background-image: url('./../img/grey_collection.png');
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar-menu li a:focus .menu-home,
.sidebar-menu li a.active .menu-home,
.sidebar-menu li a:hover .menu-home {
    background-image: url('./../img/color_home.png');
}

.sidebar-menu li a:focus .menu-rating,
.sidebar-menu li a.active .menu-rating,
.sidebar-menu li a:hover .menu-rating {
    background-image: url('./../img/color_rating.png');
}

.sidebar-menu li a:focus .menu-sales,
.sidebar-menu li a.active .menu-sales,
.sidebar-menu li a:hover .menu-sales {
    background-image: url('./../img/color_sales.png');
}

.sidebar-menu li a:focus .menu-live-orders,
.sidebar-menu li a.active .menu-live-orders,
.sidebar-menu li a:hover .menu-live-orders {
    background-image: url('./../img/color_live_orders.png');
}

.sidebar-menu li a:focus .menu-menus,
.sidebar-menu li a.active .menu-menus,
.sidebar-menu li a:hover .menu-menus {
    background-image: url('./../img/color_menus.png');
}

.sidebar-menu li a:focus .menu-team,
.sidebar-menu li a.active .menu-team,
.sidebar-menu li a:hover .menu-team {
    background-image: url('./../img/color_team.png');
}

.sidebar-menu li a:focus .menu-invoice,
.sidebar-menu li a.active .menu-invoice,
.sidebar-menu li a:hover .menu-invoice {
    background-image: url('./../img/color_invoice.png');
}

.sidebar-menu li a:focus .menu-marketer,
.sidebar-menu li a.active .menu-marketer,
.sidebar-menu li a:hover .menu-marketer {
    background-image: url('./../img/color_marketer.png');
}

.sidebar-menu li a:focus .menu-feedback,
.sidebar-menu li a.active .menu-feedback,
.sidebar-menu li a:hover .menu-feedback {
    background-image: url('./../img/color_feedback.png');
}

.sidebar-menu li a:focus .menu-user,
.sidebar-menu li a.active .menu-user,
.sidebar-menu li a:hover .menu-user {
    background-image: url('./../img/color_user.png');
}

.sidebar-menu li a:focus .menu-shipping,
.sidebar-menu li a.active .menu-shipping,
.sidebar-menu li a:hover .menu-shipping {
    background-image: url('./../img/color_shipping.png');
}

.sidebar-menu li a:focus .menu-collection,
.sidebar-menu li a.active .menu-collection,
.sidebar-menu li a:hover .menu-collection {
    background-image: url('./../img/color_collection.png');
}

.SumoSelect>.CaptionCont>span {
    cursor: pointer !important;
}

.SumoSelect {
    width: 100% !important;
}

.SumoSelect .select-all.partial>span i,
.SumoSelect .select-all.selected>span i,
.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
    background-color: #2196f3 !important;
}

.sidebar-menu li.dropdown .arrow {
    top: 15px;
}

.btn-primary {
    background-color: #d51b81 !important;
    border-color: #d51b81 !important;
}