.Progress-label {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    display: inline-block;
}

.Progress-main {
    background-color: red;
    display: inline-block;
    width: 70%;
    height: 0.5em;
    margin-top: 0.75em;
}

.Progress-main::-moz-progress-bar {
    background: #e01182;
}

.Progress-main::-webkit-progress-bar {
    background: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-main::-webkit-progress-value {
    background: #e01182;
}

.Progress-main::-ms-fill {
    background: #e01182;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-bar {
    margin-top: 0.95em;
    background-color: #f2f2f2;
    height: 0.3em;
}

.Progress-value {
    background-color: #e01182;
    display: block;
    height: 0.3em;
}

.color-primary {
    width: 48%;
    color: #e01182 !important;
}

.bd.color-primary {
    border-color: #e01182 !important;
}

.font-star {
    font-size: 1.8em;
}

label {
    font-weight: bold;
    color: black;
}