.thumbnail-image {
    height: 290px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

label {
    width: 100%;
}

.thumbnail-paragraph {
    margin-top: 5px;
    color: #B2B2B2;
}

label[for="image"] .thumbnail-image {
    height: 228px;
    width: 228px;
}

.thumbnail-paragraph {
    margin-top: 5px;
    color: #B2B2B2;
}

.border-black {
    border: 2px solid #000;
}

#map {
    height: 300px;
    width: 100%;
}

.usd.icon {
    position: absolute;
    top: 10%;
    left: 20px;
}

.wizard>.steps>ul>li {
    width: 20%;
}

.disbale-file {
    pointer-events: none;
    background: #ccc;
}