.intl-tel-input.allow-dropdown {
    width: 100%;
}

.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
    width: 90px;
}

.sole_checkbox .form-group.checkbox {
    display: contents;
}

.SumoSelect>.CaptionCont>span {
    cursor: pointer;
}

.SumoSelect {
    width: 100%;
}

.SumoSelect .select-all.partial>span i,
.SumoSelect .select-all.selected>span i,
.SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
    background-color: #2196f3;
}

.btn-primary {
    background-color: #d51b81 !important;
    border-color: #d51b81 !important;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
    padding-right: 6px !important;
    padding-left: 84px !important;
    margin-left: 0;
}

.wizard>.content>.body input {
    display: inline-block;
    border: 1px solid #ccc;
}

.SumoSelect .search-txt {
    display: none !important;
}

#chef-detail-order-min-amount {
    padding-left: 20px;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 9999;
}

.register-modal-propagrub {
    z-index: 99999;
    overflow: hidden;
    padding: 0;
    grid-template-rows: 65px 1fr 0;
    -ms-flex-preferred-size: 560px;
    flex-basis: 560px;
    outline: none;
    display: grid;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .04);
    border-radius: 3px;
    position: relative;
}

@media (min-width: 960px) {
    .register-modal-propagrub {
        min-height: 50vh;
        max-height: calc(100vh - 48px);
        margin: 24px;
    }
}

.layout-heading {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.layout-body {
    padding: 0 24px 24px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
}

.main-body-register {
    width: 100vw;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.required label:first-of-type::after,
label.required:first-of-type::after {
    content: " *";
    color: red;
}

.service-type,
.own-driver,
.pickup-available {
    cursor: pointer;
}

label[for="sole-trader-0"],
label[for="sole-trader-1"],
label[for="vat-registered-0"],
label[for="vat-registered-1"],
label[for="is-hygiene-0"],
label[for="is-hygiene-1"] {
    width: 100%;
}

label[for="sole-trader-0"] .iradio_square-blue,
label[for="sole-trader-1"] .iradio_square-blue,
label[for="vat-registered-0"] .iradio_square-blue,
label[for="vat-registered-1"] .iradio_square-blue,
label[for="is-hygiene-0"] .iradio_square-blue,
label[for="is-hygiene-1"] .iradio_square-blue {
    margin-right: 10px;
}

.price-input-product .input-group-text {
    width: 30px;
    position: absolute;
    top: 30px;
    left: 16px;
    height: 30px;
    padding: 6px;
    border-radius: 0px;
}

.price-input-product input {
    padding-left: 40px !important;
}

#map {
    height: 300px;
    width: 100%;
}

.pac-container.pac-logo.hdpi {
    z-index: 999999999;
}

.layout-footer {
    position: sticky;
    bottom: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    padding: 24px;
}

.sign-up-progress {
    height: 17px;
    border-radius: 100px;
    background: hsla(180, 7%, 58%, .24);
    position: relative;
}

.signup-total-progress {
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #d51b81;
    transition: width 1.5s;
}

.home-bg-half {
    height: 700px;
    background-color: #d51b81;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 23%, 0 47%);
    clip-path: polygon(0 0, 100% 0, 100% 23%, 0 47%);
    z-index: 0;
}

.box-outer-part {
    cursor: pointer;
    column-span: all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px;
    -webkit-box-shadow: inset 0 -0.5px 0 rgb(0 0 0 / 8%);
    box-shadow: inset 0 -0.5px 0 rgb(0 0 0 / 8%);
}

.box-outer {
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, .08);
    background: #fff;
}

.box-first-part {
    width: 48px;
    height: 48px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: text-bottom;
    padding-right: 16px;
}

.colspan-all {
    column-span: all;
}

.main-box-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 0;
}

.main-box-content {
    font-size: 16px;
    line-height: 24px;
    color: #828585;
    margin-bottom: 0;
}

.box-right-outer {
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, .08);
    background: #fff;
    padding: 24px;
}

.right-box-header {
    color: #2e3333;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
    display: block;
}

.right-box-inner {
    column-span: all;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 24px;
}

.right-box-inner-first {
    display: contents;
}

.right-box-inner-first img {
    margin-right: 20px;
}

.right-box-inner-herder {
    line-height: 20px;
    color: #d51b81;
    font-size: 18px!important;
    font-weight: 700;
    display: block;
}

.right-box-inner-description {
    font-size: 14px;
    display: block;
    line-height: 20px;
    overflow-wrap: break-word;
}

.propagrub-preloader-form {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    flex: none;
    margin-right: 24px;
}

@keyframes propagrubspinner {
    to {
        transform: rotate(1turn);
    }
}

.propagrub-preloader-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid hsla(180, 7%, 58%, .24);
    border-top-color: #d51b81;
    animation: propagrubspinner .5s linear infinite;
}

.text-option .form-group,
.text-option .form-group .form {
    margin-bottom: 0 !important;
}

.SumoSelect label::after {
    content: unset !important;
}