<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <?= $this->Html->image('logo.png') ?>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <?= $this->element('sidebar') ?>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->