<?php

foreach ($results as $result) {
    $this->DataTables->prepareData([
        $result->id,
        $this->Html->image((!empty($result->image) ? $result->image : 'menu_placeholder.png'), ['profile' => WEB_MENU, 'style' => 'height: 45px; width: 45px', 'class' => 'img-circle', 'onerror' => '/img/menu_placeholder.png']),
        h($result->menu_name),
        $this->Html->link('<i class="fa fa-eye fa-lg"></i>', ['controller' => 'menu_categories', 'action' => 'index', '?' => ['menu_filter' => $result->id]], ['escape' => false, 'class' => 'text-black']) . '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' .
        $this->Html->link('<i class="fa fa-pencil fa-lg"></i>', ['action' => 'index', $result->id], ['escape' => false, 'class' => 'text-black']) . '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' .
        $this->Form->postLink('<i class="fa fa-trash fa-lg"></i>', ['action' => 'delete', $result->id], ['confirm' => __('Are you sure you want to delete # {0}?', $result->client_name), 'escape' => false, 'class' => 'text-black']) .
        (!empty($result->pdf) ? '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' . $this->Html->link('<i class="fa fa-download fa-lg"></i>', $result->pdf, ['escape' => false, 'class' => 'text-black', 'target' => '_BLANK']) : '')
    ]);
}
echo $this->DataTables->response();
