<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    </head>
    <body style="margin: 0;padding: 0;width: 100%">
        <?= $this->fetch('content') ?>
    </body>

</html>